/TrailingZeros/nbproject/private/
/TrailingZeros/build/
/Mumbling/nbproject/private/
/Mumbling/build/
/LengthOfMissingArray/nbproject/private/
/LengthOfMissingArray/build/
/*/lib/
/*/build/
/*/nbproject/
/*/test/
*.txt
*.xml
*.mf